
@{
    ViewBag.Title = "Благодарим Вас за заказ нашей пиццы!";
}

<h2 align="center">@ViewBag.Title</h2>

<h1 align="center">
    В ближайшее время по электронной почте с Вами свяжится наш опратор.
    Если возникли какие-то вопросы, Вы можете можете позвонить по телефону указанному ниже.
</h1>
