@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Заблокирован";
}

<hgroup>
    <h1 class="text-danger">Заблокирован</h1>
    <h2 class="text-danger">Эта учетная запись была заблокирована, пожалуйста, повторите попытку позже</h2>
</hgroup>
